@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
#clock_time{
    font-size: 150px;
    color: blue;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%); 
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
#clock_date{
    font-size: 50px;
    color: blue;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
body{
    height: 100vh;
    position: relative;
}
.sns-link>button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 30px;
    border: 2px solid #1a66ce;
    padding: 0px;
    background: none;
    color: rgb(77, 77, 77);
    cursor: pointer;
    vertical-align: middle;
}
.sns-link>button:hover{
    border: 2px solid #1a66ce;
    background: rgb(240, 237, 237);
    color: #333;
}
#kurakazu_button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 30px;
    border: 2px solid rgba(77, 77, 77, 0);
    padding: 0px;
    background: none;
    color: rgba(77, 77, 77, 0);
    cursor: pointer;
    vertical-align: middle;
}
#kurakazu_hide{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 30px;
    border: 2px solid rgba(77, 77, 77, 0);
    padding: 0px;
    background: none;
    color: rgba(77, 77, 77, 0);
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    top: 80%;
    left: 80%;
}
.sns-link{
    position: absolute;
    top: 50%;
    left: 20%;
}
img{
    width: 60%;
    height: 60%;
    object-fit: contain;
}

@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    #clock_time{
        font-size: 80px;
        color: blue;
        margin: 0;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%); 
        font-family: 'M PLUS Rounded 1c', sans-serif;
    }
    #clock_date{
        font-size: 20px;
        color: blue;
        margin: 0;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: 'M PLUS Rounded 1c', sans-serif;
    }

    .sns-link>button {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 20px;
        border: 2px solid #1a66ce;
        padding: 0px;
        background: none;
        color: rgb(77, 77, 77);
        cursor: pointer;
        vertical-align: middle;
    }
    .sns-link>button:hover{
        border: 2px solid #1a66ce;
        background: rgb(240, 237, 237);
        color: #333;
    }
    #kurakazu_button {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 30px;
        border: 2px solid rgba(77, 77, 77, 0);
        padding: 0px;
        background: none;
        color: rgba(77, 77, 77, 0);
        cursor: pointer;
        vertical-align: middle;
    }
    #kurakazu_hide{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 30px;
        border: 2px solid rgba(77, 77, 77, 0);
        padding: 0px;
        background: none;
        color: rgba(77, 77, 77, 0);
        cursor: pointer;
        vertical-align: middle;
        position: absolute;
        top: 90%;
    }
    .sns-link{
        position: absolute;
        top: 50%;
        left: 14%;
    }
    img{
        width: 60%;
        height: 60%;
        object-fit: contain;
    }
    }